<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Lokalmap</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <!-- mr-auto to move the right -->
    </ul>
    <a class="navbar-brand" href="#">Register</a>
    <a class="navbar-brand" href="#">Login</a>
  </div>
</nav>


<div class="container-fluid hero_Search">


    <div class="clearfix hero_SearchBody ">

    <h1 class="float-left display-4 mr-2">Lokalmap</h1>
    <h4 class="pt-1">Search Me!!</h4>

  </div>

  <div class="input-prepend input-group hero_Input">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
    <span class="input-group-btn">
      <button class="btn btn-danger" type="button" routerLink="/simple-layout/maps-ui">Search</button>

        </span>
    </div>


</div>
