<div class="container front-end_bg" >
  <div class="row ">
    <div class="clearfix hero_SearchBody col mt-5 pt-5 col-md-6 col-sm-6">
      <h1 class="float-left display-4 mr-2">Lokalmap</h1>
      <h4 class="pt-1">Search Me!!</h4>
      <div class="input-prepend input-group hero_Input">
        <input id="prependedInput" class="form-control" #search formControl="searchControl" type="search" placeholder="What are you looking for?">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
      </div>
      <div class="card">
        <img class="card-img-top initialize_Img mb-3" src="/assets/img/1.jpg" alt="initialize">
      <div class="card-header lead">
        Name of the Store
      </div>
      <div class="card-block lead">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
        aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
        exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </div>
    <div class="otherSide col mt-5 pt-5 col-md-6 col-sm-6">
      <div *ngIf="lat && lng">
        <agm-map style= "height: 505px" [latitude]="lat" [longitude]="lng" [zoom]="17">
          <agm-marker [latitude]="lat" [longitude]="lng">
            <agm-info-window>
              <h3><strong>Howdy!</strong></h3>
              <p>You are here!</p>
            </agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container opt_in bg-inverse">

<div class="lead text-capitalize align-middle">Featured of the month</div>

<div class="row opt_in_img">
          <div class="col">
              <img class=" img-thumbnail" src="/assets/img/store1.jpg" alt="">
          </div>
          <div class="col">
              <img class="img-thumbnail" src="/assets/img/store1.jpg" alt="">
          </div>
          <div class="col">
              <img class=" img-thumbnail" src="/assets/img/store3.jpg  " alt="">
          </div>
</div>
<br>
<p class="text-capitalize align-middle lead">Lorem ipsum dolor sit amet,
   consectetur adipisicing elit. Corrupti quaerat minima eveniet ratione
    asperiores molestiae, culpa sequi voluptatibus, veniam earum exercitationem
     doloribus animi quae odit. Rerum debitis, voluptatem mollitia fuga.</p>
</div> -->
