<div class="container">
  <div class="user_tag mt-4">
    <p class="text-white">User Profile/Name</p>
  </div>
  <div class="container profile_container">
    <div class="row profile_display">
      <div class="col holder_profile">
        <img class="user_profile" src="../../assets/img/profile.jpg" alt="edit your picture">
        <br>
        <p>click here to change profile image</p>
      </div>
      <div class="col name_tag">
        <p class="display-4">Lorem ipsum dolor</p>
        <p>Customer</p>
      </div>
    </div>

  </div>
  <div class="container table_container">
    <table class="table table-sm data_holder">
      <thead>
        <tr>
          <th>User Information</th>
          <th></th>
          <th>Member Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>First Name:</td>
          <td>Keano</td>
          <td>2012/01/21</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
        </tr>
        <tr>
          <td>Last Name:</td>
          <td>Ribs</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>User Name:</td>
          <td>Lorem-ipsum.@gmail.com</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>Email Address:</td>
          <td>Lorem-ipsum.@gmail.com</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>Contact Number:</td>
          <td>0929-3929-192</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>Password Recovery Email:</td>
          <td>Lorem-ipsum.@gmail1.com</td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>Account Type:</td>
          <td>Customer</td>
          <td></td>
          <td></td>


        </tr>
      </tbody>
    </table>
  </div>

</div>
